.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  padding: 0.5rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  padding: 0.5rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a .p-fieldset-toggler {
  font-size: 0.7rem;
}

.p-autocomplete .p-autocomplete-multiple-container {
  min-width: 400px;
}

.p-autocomplete-input {
  min-width: 300px;
}

.p-multiselect-label-empty {
  min-width: 250px;
}

.p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}
