.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  padding: 0.5rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  padding: 0.5rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a .p-fieldset-toggler {
  font-size: 0.7rem;
}

.p-chips .p-chips-multiple-container .p-chips-input-token input {
  width: 350px;
}

.p-multiselect-label-empty {
  width: 250px;
}

.p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}
