html {
  font-size: 1rem;
}

body {
  margin: 0;
  height: 100%;
  padding: 1rem 1rem 2rem 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-0);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
